body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.modal-body form {
  display: flex;
  flex-direction: column;
}

#title-and-date {
  display: flex;
}

#task-title, #task-date, #task-description {
  margin: 10px;
}

#task-description {
  height: 50px;
}